<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Project34WebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="Project34WebServiceSoap1" />
                <binding name="Project34WebServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="Project34WebServiceSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44322/Project34WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="Project34WebServiceSoap"
                contract="Project34WebServiceDev.Project34WebServiceSoap"
                name="Project34WebServiceSoap" />
            <endpoint address="https://localhost/Project34WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="Project34WebServiceSoap2"
                contract="Project34WebServiceProd.Project34WebServiceSoap"
                name="Project34WebServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>