<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Project34WebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="Project34WebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44322/Project34WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="Project34WebServiceSoap"
                contract="Project34WebService.Project34WebServiceSoap" name="Project34WebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>